.material0 {
  -webkit-animation: materialMove 10s infinite;
          animation: materialMove 10s infinite;
}

@-webkit-keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material1 {
  -webkit-animation: materialMove 24s infinite;
          animation: materialMove 24s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material2 {
  -webkit-animation: materialMove 28s infinite;
          animation: materialMove 28s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material3 {
  -webkit-animation: materialMove 32s infinite;
          animation: materialMove 32s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material4 {
  -webkit-animation: materialMove 36s infinite;
          animation: materialMove 36s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material5 {
  -webkit-animation: materialMove 40s infinite;
          animation: materialMove 40s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material6 {
  -webkit-animation: materialMove 42s infinite;
          animation: materialMove 42s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material7 {
  -webkit-animation: materialMove 46s infinite;
          animation: materialMove 46s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material8 {
  -webkit-animation: materialMove 50s infinite;
          animation: materialMove 50s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material9 {
  -webkit-animation: materialMove 54s infinite;
          animation: materialMove 54s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material10 {
  -webkit-animation: materialMove 58s infinite;
          animation: materialMove 58s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material11 {
  -webkit-animation: materialMove 62s infinite;
          animation: materialMove 62s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material12 {
  -webkit-animation: materialMove 66s infinite;
          animation: materialMove 66s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material13 {
  -webkit-animation: materialMove 70s infinite;
          animation: materialMove 70s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material14 {
  -webkit-animation: materialMove 74s infinite;
          animation: materialMove 74s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material15 {
  -webkit-animation: materialMove 78s infinite;
          animation: materialMove 78s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material16 {
  -webkit-animation: materialMove 82s infinite;
          animation: materialMove 82s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
.material17 {
  -webkit-animation: materialMove 86s infinite;
          animation: materialMove 86s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=material.css.map */