/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, sm, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.material0 {
  animation: materialMove 10s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material1 {
  animation: materialMove 24s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material2 {
  animation: materialMove 28s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material3 {
  animation: materialMove 32s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material4 {
  animation: materialMove 36s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material5 {
  animation: materialMove 40s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material6 {
  animation: materialMove 42s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material7 {
  animation: materialMove 46s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material8 {
  animation: materialMove 50s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material9 {
  animation: materialMove 54s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material10 {
  animation: materialMove 58s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material11 {
  animation: materialMove 62s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material12 {
  animation: materialMove 66s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material13 {
  animation: materialMove 70s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material14 {
  animation: materialMove 74s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material15 {
  animation: materialMove 78s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material16 {
  animation: materialMove 82s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material17 {
  animation: materialMove 86s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

* span {
  font-size: 17px;
}

* p {
  font-weight: 100;
  letter-spacing: 3px;
}

* h1 {
  font-weight: 800;
  letter-spacing: 3px;
}

body {
  background-color: #f2b43d;
}

.header {
  position: relative;
  background-color: #f2b43d;
}

.header .headerContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1366px;
  padding: 60px 0 0 0;
}

.header .headerContent .navbar {
  position: absolute;
  display: flex;
  justify-content: center;
}

.header .headerContent .navbarContent {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1366px;
}

.header .headerContent .navbarContent .logo {
  position: relative;
  width: 50%;
}

.header .headerContent .navbarContent .logo a .logoContent {
  position: fixed;
  z-index: 9;
  display: inline-block;
}

.header .headerContent .navbarContent .logo a .logoContent svg {
  width: 100px;
  height: 100px;
  position: relative;
}

.header .headerContent .navbarContent .menu {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.header .headerContent .navbarContent .menu .menuContent {
  position: fixed;
  z-index: 9;
}

.header .headerContent .navbarContent .menu .menuContent ul {
  display: block;
}

.header .headerContent .navbarContent .menu .menuContent ul li {
  line-height: 3;
  text-align: right;
}

.header .headerContent .navbarContent .menu .menuContent ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  transition: .5s ease-in-out;
}

.header .headerContent .navbarContent .menu .menuContent ul li a:hover {
  color: #fff;
}

.header .headerContent .navbarContent .menu .menuContent ul li a:hover::before {
  width: 30px;
  opacity: 1;
}

.header .headerContent .navbarContent .menu .menuContent ul li a::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 10px;
  left: -30px;
  opacity: 0;
  display: inline-block;
  background-color: #fff;
  transition: .5s ease-in-out;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.header .headerContent .material {
  display: flex;
  justify-content: center;
}

.header .headerContent .material .materialContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.header .headerContent .material svg {
  pointer-events: none;
}

.header .headerContent .material img {
  max-width: 100%;
  height: auto;
  position: relative;
  bottom: -10px;
}

.header .headerContent .slogan {
  position: absolute;
  right: 0px;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .headerContent .slogan .sloganContent {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  position: absolute;
  animation: sloganContentMove 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes sloganContentMove {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 1532px) {
  .header .headerContent {
    overflow: hidden;
  }
}

@media screen and (max-width: 1364px) {
  .header .headerContent {
    width: 100%;
  }
  .header .headerContent .navbar {
    width: 100%;
  }
  .header .headerContent .navbar .navbarContent {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .header .headerContent .navbar {
    width: 100%;
  }
  .header .headerContent .navbar .navbarContent {
    width: 100%;
  }
  .header .headerContent .navbar .navbarContent .logo {
    left: 0;
    width: auto;
  }
  .header .headerContent .navbar .navbarContent .menu {
    right: 0;
    width: auto;
  }
  .header .headerContent .slogan {
    z-index: -1;
    overflow: hidden;
  }
}

* span {
  font-size: 17px;
}

* p {
  font-weight: 100;
  letter-spacing: 3px;
}

* h1 {
  font-weight: 800;
  letter-spacing: 3px;
}

body {
  background-color: #f2b43d;
}

.studio {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.studio .studioContent {
  margin: 0 auto;
}

.studio .studioContent svg {
  width: 2000%;
  height: 100%;
  animation: studioMover 100s infinite linear;
}

@keyframes studioMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

@media screen and (max-width: 1000px) {
  .studio .studioContent svg {
    width: 4000%;
  }
}

.main {
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
}

.main::before {
  content: "";
  width: 351px;
  height: 351px;
  display: inline-block;
  position: absolute;
  top: -100px;
  right: -100px;
  z-index: 6;
  pointer-events: none;
  background: url("../images/figure8.png") no-repeat;
}

.main .mainContent {
  margin-left: auto;
  margin-right: auto;
  max-width: 1822px;
  height: 100%;
  background-color: #eaeaea;
  position: relative;
}

.main .mainContent .about {
  position: relative;
}

.main .mainContent .about .aboutContent {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(1, auto);
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0 0 0;
}

.main .mainContent .about .aboutContent .aboutImg {
  grid-column: 1 / 2;
  padding: 200px 0;
}

.main .mainContent .about .aboutContent .aboutImg::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../images/figure3.png") no-repeat center center;
}

.main .mainContent .about .aboutContent .aboutText {
  grid-column: 2 / 3;
  position: relative;
  z-index: 5;
  padding: 50px 0 160px 0;
}

.main .mainContent .about .aboutContent .aboutText::before {
  content: "";
  width: 137%;
  height: 137%;
  display: inline-block;
  position: absolute;
  top: -229px;
  right: -229px;
  z-index: -1;
  background-color: #f2b43d;
  border-bottom-left-radius: 70%;
}

.main .mainContent .about .aboutContent .aboutTextCpntent {
  text-align: right;
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(1, auto);
  justify-content: right;
}

.main .mainContent .about .aboutContent .aboutTextCpntent span {
  color: #fff;
  font-style: italic;
  padding-bottom: 70px;
  grid-column: 1 / 2;
}

.main .mainContent .about .aboutContent .aboutTextCpntent h1 {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  padding-bottom: 70px;
  grid-column: 1 / 2;
  transition: 1s ease-in-out;
}

.main .mainContent .about .aboutContent .aboutTextCpntent h1:hover {
  color: #fff;
}

.main .mainContent .about .aboutContent .aboutTextCpntent .aboutTextBox {
  display: flex;
  flex-direction: row-reverse;
  grid-column: 1 / 2;
}

.main .mainContent .about .aboutContent .aboutTextCpntent .aboutTextBox p {
  width: 100%;
  height: 300px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 3.5;
  writing-mode: vertical-rl;
}

.main .mainContent .about .aboutContent .aboutTextCpntent .aboutTextBox .sign img {
  width: 100%;
  height: auto;
}

.main .mainContent .about .serviceRace {
  position: absolute;
  overflow: hidden;
  bottom: -160px;
  z-index: 5;
  width: 100%;
}

.main .mainContent .about .serviceRace .serviceRaceContent {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.main .mainContent .about .serviceRace .serviceRaceContent svg {
  width: 2600%;
  animation: serviceRaceMover 100s infinite linear;
}

@keyframes serviceRaceMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

@media screen and (max-width: 1330px) {
  .main .mainContent .about .aboutContent {
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, auto);
  }
  .main .mainContent .about .aboutContent .aboutImg {
    padding: 0;
    height: 300px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .main .mainContent .about .aboutContent .aboutText {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 50px 0 60px 0;
  }
  .main .mainContent .about .aboutContent .aboutText::before {
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  .main .mainContent .about .aboutContent .aboutText .aboutTextCpntent {
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, auto);
  }
  .main .mainContent .about .aboutContent .aboutText .aboutTextCpntent span {
    grid-column: 1 / 2;
    text-align: center;
  }
  .main .mainContent .about .aboutContent .aboutText .aboutTextCpntent h1 {
    grid-column: 1 / 2;
    text-align: center;
  }
  .main .mainContent .about .aboutContent .aboutText .aboutTextCpntent .aboutTextBox {
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
  }
  .main .mainContent .about .aboutContent .aboutText .aboutTextCpntent .aboutTextBox p {
    width: auto;
  }
  .main .mainContent .about .serviceRace {
    bottom: -70px;
  }
  .main .mainContent .about .serviceRace .serviceRaceContent svg {
    width: 4000%;
  }
}

@media screen and (max-width: 480px) {
  .main::before {
    width: 70%;
    height: 30%;
    top: -60px;
    right: -90px;
    display: none;
  }
  .main .mainContent .about .aboutContent .aboutText {
    height: 700px;
  }
  .main .mainContent .about .aboutContent .aboutTextCpntent span {
    font-size: 20px;
  }
  .main .mainContent .about .aboutContent .aboutTextCpntent h1 {
    font-size: 80px;
  }
  .main .mainContent .about .aboutContent .aboutTextCpntent .aboutTextBox {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .main .mainContent .about .aboutContent .aboutTextCpntent .aboutTextBox p {
    width: 4vw;
    margin-left: auto;
    margin-right: auto;
  }
  .main .mainContent .about .aboutContent .aboutTextCpntent .aboutTextBox .sign {
    transform: rotate(269deg);
    position: absolute;
    top: 300px;
  }
  .main .mainContent .about .serviceRace {
    bottom: -90px;
  }
  .main .mainContent .about .serviceRace .serviceRaceContent svg {
    width: 9000%;
  }
}

.service {
  position: relative;
}

.service .serviceContent {
  max-width: 1366px;
  padding: 300px 0 130px 0;
  margin: 0 auto;
}

.service .serviceContent .serviceTitle {
  position: relative;
}

.service .serviceContent .serviceTitle .serviceTitleContent {
  max-width: 1366px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.service .serviceContent .serviceTitle .serviceTitleContent span {
  font-style: italic;
}

.service .serviceContent .serviceTitle .serviceTitleContent h1 {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 1px #f2b43d;
  padding: 50px 0;
  transition: 1s ease-in-out;
}

.service .serviceContent .serviceTitle .serviceTitleContent h1:hover {
  color: #f2b43d;
}

.service .serviceContent .news-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  position: relative;
}

.service .serviceContent .news-holder .news-headlines {
  float: left;
}

.service .serviceContent .news-holder .news-headlines {
  list-style: none;
  height: 20%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  border-radius: 100px;
  border: 4px solid #f2b43d;
  background-color: #eaeaea;
}

.service .serviceContent .news-holder .news-headlines li {
  padding: 19px;
  margin-bottom: 15px;
  position: relative;
  z-index: 20;
  margin: 0;
  writing-mode: vertical-lr;
  letter-spacing: 8px;
}

.service .serviceContent .news-holder .news-headlines li p {
  width: 100%;
  display: inline-block;
  font-size: 18px;
  color: #000;
  text-align: center;
}

.service .serviceContent .news-holder .news-headlines li .news-headlines .highlight {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}

.service .serviceContent .news-holder .news-headlines li .nh-anim {
  -webkit-transition: .75s ease-out;
  -moz-transition: .75s ease-out;
  -o-transition: .75s ease-out;
  transition: .75s ease-out;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.service .serviceContent .news-holder .news-headlines .selected {
  border-radius: 100px;
  background-color: #f2b43d;
}

.service .serviceContent .news-holder .news-headlines .selected p {
  color: #fff;
}

.service .serviceContent .news-holder .news-preview {
  float: left;
  width: 70%;
  display: inline-block;
  height: 30%;
  position: relative;
  z-index: 5;
  margin-left: -1px;
}

.service .serviceContent .news-holder .news-preview .news-content {
  position: relative;
  display: inline-block;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentImg {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2b43d;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0 #f2b33d64;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentImg .news-contentImgContent {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  padding: 30px;
  border-radius: 50%;
  background-color: #f2b43d;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentImg .news-contentImgContent::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-top: 1px solid #ffffff00;
  border-left: 1px solid #ffffff00;
  border-bottom: 1px solid #ffffff00;
  border-right: 1px solid #ffffff00;
  border-radius: 50%;
  transition: 1s ease-in-out;
  animation: contentImgContentMove 1s infinite;
}

@keyframes contentImgContentMove {
  0% {
    border-top: 4px solid #fff;
  }
  40% {
    border-left: 4px solid #fff;
  }
  70% {
    border-bottom: 4px solid #fff;
  }
  100% {
    border-right: 4px solid #fff;
  }
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentImg .news-contentImgContent img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto 5px auto;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText {
  width: 70%;
  display: inline-block;
  position: relative;
  top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  border: 15px solid #f2b43d;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent {
  width: 90%;
  text-align: center;
  position: relative;
  line-height: 3;
  margin-left: auto;
  margin-right: auto;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent .contentTextContentTitle {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent .contentTextContentTitle span {
  width: 90%;
  font-size: 58px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  padding: 10px 0;
  border-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 6;
  margin-left: auto;
  margin-right: auto;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent .contentTextContentTitle span::before {
  content: "";
  width: 700px;
  height: 700px;
  display: inline-block;
  position: absolute;
  top: -500px;
  z-index: -1;
  background-color: #f2b43d;
  border-radius: 50%;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent .contentTextContentText {
  padding: 40px 0;
  line-height: 4;
  border-style: dashed;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent .contentTextContentText span {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-weight: 100;
  color: #000;
  letter-spacing: 6px;
  position: relative;
  border-bottom: 1px solid #f2b43d;
  border-style: dashed;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent .contentTextContentText span:nth-child(3) {
  border-bottom: 0;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent .contentTextContentText span::before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  background: url(../images/figure5.png) no-repeat;
  background-size: cover;
  animation: contentTextContentTextMove 1s infinite;
}

@keyframes contentTextContentTextMove {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.2);
  }
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent a {
  width: 60%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  margin: 50px 0;
  background-color: #f2b43d;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent a::before {
  content: "";
  width: 0;
  height: 1000%;
  display: inline-block;
  position: absolute;
  top: -200px;
  left: 0;
  transition: 1s ease-out;
  background-color: #dddddd59;
  transform: rotate(343deg);
}

.service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent a:hover::before {
  width: 100%;
}

.service .serviceContent .news-holder .news-preview .top-content {
  display: block;
  grid-column: 1 / 3;
  height: 60%;
}

@media screen and (max-width: 1200px) {
  .service::before {
    top: 640px;
  }
  .service .serviceContent {
    margin: 0;
    padding: 100px 0;
  }
}

@media screen and (max-width: 800px) {
  .service .serviceContent {
    padding: 60px 0;
  }
  .service .serviceContent .news-holder {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, auto);
  }
  .service .serviceContent .news-holder .news-headlines {
    display: grid;
    grid-column: 1 / 2;
    width: 70%;
    height: 30px;
    top: 22px;
    left: 0;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #f2b43d;
    position: relative;
    overflow: hidden;
    transform: perspective(1px) translateZ(0);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: 1s ease-in-out;
    animation: news-headlinesMove 10s infinite;
  }
  @keyframes news-headlinesMove {
    0% {
      height: 80px;
    }
    50% {
      height: 30px;
    }
    100% {
      height: 80px;
    }
  }
  .service .serviceContent .news-holder .news-headlines::before {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: url(../images/figure3.png) no-repeat center center;
    transition: 1s ease-in-out;
  }
  .service .serviceContent .news-holder .news-headlines .headlinesOne {
    grid-column: 1 / 2;
  }
  .service .serviceContent .news-holder .news-headlines .headlinesTwo {
    grid-column: 1 / 2;
  }
  .service .serviceContent .news-holder .news-headlines .headlinesThree {
    grid-column: 1 / 2;
    border-radius: 0;
  }
  .service .serviceContent .news-holder .news-headlines .selected {
    border-radius: 0;
  }
  .service .serviceContent .news-holder .news-headlines li {
    height: 100%;
    padding: 6px;
    display: none;
    align-items: center;
    justify-content: center;
    writing-mode: inherit;
  }
  .service .serviceContent .news-holder .news-headlines .news-headlines .highlight {
    height: 0;
  }
  .service .serviceContent .news-holder .news-preview {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 98%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 0;
  }
  .service .serviceContent .news-holder .news-preview .news-content .news-contentImg {
    width: 89%;
  }
  .service .serviceContent .news-holder .news-preview .news-content .news-contentImg .news-contentImgContent {
    min-width: 150px;
    min-height: 150px;
    padding: 20px;
  }
  .service .serviceContent .news-holder .news-preview .news-content .news-contentText {
    width: 90%;
    height: auto;
    display: grid;
    align-items: center;
  }
  .service .serviceContent .news-holder .news-preview .news-content .news-contentText .news-contentTextContent a {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .service .serviceContent .serviceTitle .serviceTitleContent h1 {
    font-size: 70px;
  }
  .service .serviceContent .news-holder .news-headlines {
    width: 60%;
    grid-column: 1 / 2;
  }
}

.work {
  position: relative;
}

.work .workRace {
  position: absolute;
  top: -80px;
  z-index: 5;
  pointer-events: none;
}

.work .workRace .workRaceContent {
  margin: 0 auto;
}

.work .workRace .workRaceContent svg {
  width: 9000%;
  animation: workRaceMover 100s infinite linear;
}

@keyframes workRaceMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

.work .workContent {
  position: relative;
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 65% 35%);
  grid-template-rows: repeat(1, 1fr);
}

.work .workContent .workContentImg {
  grid-column: 1 / 2;
  overflow: hidden;
  padding: 40px 0 40px 0;
  background-color: #f2b43d;
}

.work .workContent .workContentImg .workContentImgContent ul {
  display: flex;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 60px 0;
  text-align: center;
  position: relative;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout .project {
  width: 400px;
  height: 400px;
  display: inline-block;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout .project:hover .projectTitle {
  height: 50%;
  opacity: 1;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout .project .projectTitle {
  position: absolute;
  width: 100%;
  height: 0%;
  opacity: 0;
  color: #fff;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.476);
}

.work .workContent .workContentImg .workContentImgContent ul li .layout .project img {
  width: 100%;
  height: 100%;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #f2b43d;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: auto;
  z-index: 999999999999;
  animation: box_move 1s ease-in-out;
  -webkit-animation: box_move 1s ease-in-out;
}

@keyframes box_move {
  0% {
    transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaSlogan {
  position: relative;
  overflow: hidden;
  top: 0;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaSlogan svg {
  width: 3000%;
  animation: project_areaSloganMover 100s infinite linear;
}

@keyframes project_areaSloganMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .workRaceContent {
  margin: 0 auto;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .workRaceContent svg {
  width: 1200%;
  animation: workRaceMover 100s infinite linear;
}

@keyframes workRaceMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent {
  position: relative;
  width: 92%;
  height: auto;
  margin: 60px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeaea;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaSlogan {
  position: relative;
  overflow: hidden;
  top: 0;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaSlogan svg {
  width: 2400%;
  animation: project_areaSloganMover 100s infinite linear;
}

@keyframes project_areaSloganMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_area_content {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  background-color: #f2b43d;
  border-bottom-left-radius: 50%;
  box-shadow: 5px 5px 2px -1px #828282;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_area_content span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px;
  overflow: hidden;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-style: dashed;
  border-radius: 50%;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_area_content span::before {
  content: "";
  width: 24px;
  border: 1px solid white;
  display: inline-block;
  position: absolute;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
  -moz-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  -o-transform: rotate(44deg);
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_area_content span::after {
  content: "";
  width: 24px;
  border: 1px solid white;
  display: inline-block;
  position: absolute;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transform: rotate(-44deg);
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_area_content span:hover::before {
  animation: project_area_contentBefore 1s ease-in-out;
}

@keyframes project_area_contentBefore {
  0% {
    transform: rotate(44deg) translate(300px);
  }
  100% {
    transform: translate(0px);
  }
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_area_content span:hover::after {
  animation: project_area_contentAfter 1s ease-in-out;
}

@keyframes project_area_contentAfter {
  0% {
    transform: rotate(44deg) translate(-300px);
  }
  100% {
    transform: translate(0px);
  }
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText {
  position: relative;
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  padding: 40px 0;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent {
  position: relative;
  grid-column: 1 / 2;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox {
  display: block;
  padding: 40px;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentLoog {
  width: 100px;
  height: 100px;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentLoog svg {
  width: 100%;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentTitle {
  position: relative;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentTitle h2 {
  text-align: left;
  font-size: 22px;
  padding: 100px 0;
  line-height: 1.3;
  position: relative;
  z-index: 3;
  color: #000;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentTitle h2::before {
  content: "";
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 80px;
  left: -222px;
  border-style: dashed;
  border: 1px solid #f2b43d;
  background-color: #f2b43d;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentDetailed p {
  font-size: 16px;
  text-align: left;
  line-height: 2;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon {
  padding: 100px 0;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li {
  width: 40px;
  height: 40px;
  border: 1px solid #f2b43d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 20px 0 0;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li:hover::before {
  width: 40px;
  height: 40px;
  opacity: 1;
  transform: scale(5, 5);
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
  opacity: 0;
  background-color: #ffffffb6;
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li a {
  display: inline-block;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li a img {
  width: 100%;
  height: 100%;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent {
  position: relative;
  grid-column: 2 / 3;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox {
  padding: 40px;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox ul {
  display: block;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox ul li {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox ul li img {
  width: 100%;
  height: 100%;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_Slogan {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  opacity: 0.6;
  pointer-events: none;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_Slogan .project_SloganContent {
  margin: 0 auto;
  width: 400%;
  height: 400%;
  position: absolute;
  animation: sloganContentMove 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes sloganContentMove {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_Slogan .project_SloganContent svg {
  width: 100%;
  height: 100%;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_Slogan img {
  width: 100%;
  height: 100%;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout .swipeUp {
  position: relative;
  padding: 40px 0;
}

.work .workContent .workContentImg .workContentImgContent ul li .layout .swipeUp a {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #000;
}

.work .workContent .workContentText {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  padding: 0 0 0 50px;
}

.work .workContent .workContentText .workContentTextContent {
  position: relative;
}

.work .workContent .workContentText .workContentTextContent .workRaceVice span {
  font-weight: 900;
  color: #000;
  font-style: italic;
  font-family: revert;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceTitle {
  position: relative;
  z-index: 5;
  padding: 40px 0;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceTitle span {
  color: #fff;
  font-style: italic;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceTitle h1 {
  color: transparent;
  font-size: 100px;
  -webkit-text-stroke: 1px #f2b43d;
  transition: 1s ease-in-out;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceTitle h1:hover {
  color: #f2b43d;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceMore {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceMore a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceMore a .workRaceViceMoreContent {
  position: absolute;
  left: 0;
  width: 150px;
  height: 150px;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceMore a .workRaceViceMoreContent svg {
  width: 100%;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceMore a .workRaceViceMoreContent .workRaceViceMoreText {
  position: absolute;
  display: block;
}

.work .workContent .workContentText .workContentTextContent .workRaceViceMore a .workRaceViceMoreContent .workRaceViceMoreText p {
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .work .workRace {
    top: -100px;
  }
  .work .workRace .workRaceContent svg {
    width: 9000%;
  }
  .work .workContent {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, auto);
  }
  .work .workContent .workContentImg {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaSlogan {
    top: 0;
  }
  .work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaSlogan svg {
    width: 7000%;
  }
  .work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText {
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContentBox .project_areaContentTitleContentIcon {
    padding: 100px 0;
  }
  .work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: center;
  }
  .work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox ul li {
    width: 100%;
  }
  .work .workContent .workContentImg .workContentImgContent ul li .layout #project_area .project_areaContent .project_Slogan {
    opacity: 0;
  }
  .work .workContent .workContentText {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 80px;
  }
  .map {
    position: relative;
  }
  .map .mapContent {
    margin: 0 auto;
  }
}

.footer {
  position: relative;
  top: -50px;
}

.footer .footerContent {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.footer .footerContent .footerContentBox {
  width: 100%;
}

.footer .footerContent .footerContentBox:nth-child(1) svg {
  width: 17%;
}

.footer .footerContent .footerContentBox:nth-child(2) {
  position: relative;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp {
  position: relative;
  padding: 40px 0;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp a {
  text-decoration: none;
  position: relative;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp a .footerContentBoxA {
  text-align: center;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp a .footerContentBoxA .footerContentBoxIcon {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #000;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp a .footerContentBoxA p {
  color: #000;
  font-size: 12px;
  padding-top: 6px;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent {
  margin: 0 auto;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul {
  display: flex;
  justify-content: flex-end;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 0 0 20px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li:hover::before {
  width: 40px;
  height: 40px;
  opacity: 1;
  transform: scale(5, 5);
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
  opacity: 0;
  background-color: #ffffffb6;
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li a {
  display: inline-block;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li a img {
  width: 100%;
  height: 100%;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent p {
  font-size: 12px;
  padding-top: 16px;
  text-align: right;
}

.footer .footerContent .footerContentBoxOne {
  grid-column: 1 / 2;
}

.footer .footerContent .footerContentBoxTwo {
  grid-column: 2 / 3;
}

.footer .footerContent .footerContentBoxThree {
  grid-column: 3 / 4;
}

@media screen and (max-width: 1100px) {
  .footer {
    top: -70px;
  }
  .footer .footerContent {
    width: 100%;
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    margin-left: auto;
    margin-right: auto;
  }
  .footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul {
    justify-content: center;
  }
  .footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li {
    margin: 10px;
  }
  .footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent p {
    text-align: center;
  }
  .footer .footerContent .footerContentBoxOne {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
    display: none;
  }
  .footer .footerContent .footerContentBoxTwo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .footer .footerContent .footerContentBoxThree {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 480px) {
  .work .workContent .workContentText .workContentTextContent .workRaceViceTitle h1 {
    font-size: 70px;
  }
}
