/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, sm, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.material0 {
  animation: materialMove 10s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material1 {
  animation: materialMove 24s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material2 {
  animation: materialMove 28s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material3 {
  animation: materialMove 32s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material4 {
  animation: materialMove 36s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material5 {
  animation: materialMove 40s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material6 {
  animation: materialMove 42s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material7 {
  animation: materialMove 46s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material8 {
  animation: materialMove 50s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material9 {
  animation: materialMove 54s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material10 {
  animation: materialMove 58s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material11 {
  animation: materialMove 62s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material12 {
  animation: materialMove 66s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material13 {
  animation: materialMove 70s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material14 {
  animation: materialMove 74s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material15 {
  animation: materialMove 78s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material16 {
  animation: materialMove 82s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.material17 {
  animation: materialMove 86s infinite;
}

@keyframes materialMove {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: .8;
    transform: translateY(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

* span {
  font-size: 17px;
}

* p {
  font-weight: 100;
  letter-spacing: 3px;
}

* h1 {
  font-weight: 800;
  letter-spacing: 3px;
}

body {
  background-color: #f2b43d;
}

.header {
  position: relative;
  background-color: #f2b43d;
}

.header .headerContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1366px;
  padding: 60px 0 0 0;
}

.header .headerContent .navbar {
  position: absolute;
  display: flex;
  justify-content: center;
}

.header .headerContent .navbarContent {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1366px;
}

.header .headerContent .navbarContent .logo {
  position: relative;
  width: 50%;
}

.header .headerContent .navbarContent .logo a .logoContent {
  position: fixed;
  z-index: 9;
  display: inline-block;
}

.header .headerContent .navbarContent .logo a .logoContent svg {
  width: 100px;
  height: 100px;
  position: relative;
}

.header .headerContent .navbarContent .menu {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.header .headerContent .navbarContent .menu .menuContent {
  position: fixed;
  z-index: 9;
}

.header .headerContent .navbarContent .menu .menuContent ul {
  display: block;
}

.header .headerContent .navbarContent .menu .menuContent ul li {
  line-height: 3;
  text-align: right;
}

.header .headerContent .navbarContent .menu .menuContent ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  transition: .5s ease-in-out;
}

.header .headerContent .navbarContent .menu .menuContent ul li a:hover {
  color: #fff;
}

.header .headerContent .navbarContent .menu .menuContent ul li a:hover::before {
  width: 30px;
  opacity: 1;
}

.header .headerContent .navbarContent .menu .menuContent ul li a::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 10px;
  left: -30px;
  opacity: 0;
  display: inline-block;
  background-color: #fff;
  transition: .5s ease-in-out;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.header .headerContent .material {
  display: flex;
  justify-content: center;
}

.header .headerContent .material .materialContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.header .headerContent .material svg {
  pointer-events: none;
}

.header .headerContent .material img {
  width: 70%;
  height: auto;
  position: relative;
  bottom: -10px;
}

.header .headerContent .slogan {
  position: absolute;
  right: 0px;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .headerContent .slogan .sloganContent {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  position: absolute;
  animation: sloganContentMove 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes sloganContentMove {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 1532px) {
  .header .headerContent {
    overflow: hidden;
  }
}

@media screen and (max-width: 1364px) {
  .header .headerContent {
    width: 100%;
  }
  .header .headerContent .navbar {
    width: 100%;
  }
  .header .headerContent .navbar .navbarContent {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .header .headerContent .navbar {
    width: 100%;
  }
  .header .headerContent .navbar .navbarContent {
    width: 100%;
  }
  .header .headerContent .navbar .navbarContent .logo {
    left: 0;
    width: auto;
  }
  .header .headerContent .navbar .navbarContent .menu {
    right: 0;
    width: auto;
  }
  .header .headerContent .slogan {
    z-index: -1;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  .header .headerContent .material img {
    width: 100%;
  }
}

* span {
  font-size: 17px;
}

* p {
  font-weight: 100;
  letter-spacing: 3px;
}

* h1 {
  font-weight: 800;
  letter-spacing: 3px;
}

body {
  background-color: #f2b43d;
}

.studio {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.studio .studioContent {
  margin: 0 auto;
}

.studio .studioContent svg {
  width: 1400%;
  height: 100%;
  animation: studioMover 100s infinite linear;
}

@keyframes studioMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

@media screen and (max-width: 1000px) {
  .studio .studioContent svg {
    width: 4000%;
  }
}

.main {
  position: relative;
  padding-bottom: 120px;
}

.main .mainContent {
  margin-left: auto;
  margin-right: auto;
  max-width: 1822px;
  height: 100%;
  background-color: #eaeaea;
}

.main .mainContent #works {
  position: relative;
}

.main .mainContent #works .works-content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}

.main .mainContent #works .works-content .container-fluid {
  position: relative;
}

.main .mainContent #works .works-content .container-fluid .jprt-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0;
  text-align: center;
  position: relative;
  z-index: 5;
}

.main .mainContent #works .works-content .container-fluid .jprt-buttons .jprt-btn {
  width: 22%;
  background: #f2b43d;
  color: #fff;
  font-size: 16px;
  padding: 15px 50px;
  margin: 10px;
  box-shadow: none;
  border: 2px solid #f2b43d;
  outline-style: none;
  border-radius: 100px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.main .mainContent #works .works-content .container-fluid .jprt-buttons .jprt-btn-active {
  background: #fff;
  color: #f2b43d;
  outline-style: none;
  border: 2px solid #f2b43d;
  transition: 1s ease-in-out;
}

.main .mainContent #works .works-content .container-fluid .jprt-buttons .jprt-btn-active::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  left: 14px;
  top: -15px;
  background: url(../images/figure5.png) no-repeat;
  background-size: cover;
}

.main .mainContent #works .works-content .container-fluid .jprt-buttons .container-fluidImg {
  position: absolute;
  bottom: 0;
  opacity: 0.4;
  z-index: 1;
}

.main .mainContent #works .works-content .container-fluid .jprt-buttons .container-fluidImg .container-fluidImgContent {
  margin: 0 auto;
}

.main .mainContent #works .works-content .container-fluid .jprt-buttons .container-fluidImg .container-fluidImgContent img {
  width: 100%;
  height: auto;
}

.main .mainContent #works .works-content .jprt-container {
  position: relative;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.main .mainContent #works .works-content .jprt-container .jprt-item {
  position: absolute;
  text-align: center;
  -webkit-transition: width 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
  -moz-transition: width 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
  -o-transition: width 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
  transition: width 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
}

.main .mainContent #works .works-content .jprt-container .jprt-item a {
  position: relative;
  display: inline-block;
}

.main .mainContent #works .works-content .jprt-container .jprt-item a:hover .projectTitle {
  height: 50%;
  opacity: 1;
}

.main .mainContent #works .works-content .jprt-container .jprt-item a .projectTitle {
  position: absolute;
  width: 100%;
  height: 0%;
  opacity: 0;
  color: #fff;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.476);
}

.main .mainContent #works .works-content .jprt-container .jprt-item img {
  width: 100%;
  height: 100%;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout .project {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout .project:hover .projectTitle {
  height: 50%;
  opacity: 1;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout .project .projectTitle {
  position: absolute;
  width: 100%;
  height: 0%;
  opacity: 0;
  color: #fff;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.476);
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout .project img {
  width: 100%;
  height: 100%;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #f2b43d;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: auto;
  z-index: 999999999999;
  animation: box_move 1s ease-in-out;
  -webkit-animation: box_move 1s ease-in-out;
}

@keyframes box_move {
  0% {
    transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaSlogan {
  position: relative;
  overflow: hidden;
  top: 0;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaSlogan svg {
  width: 3000%;
  animation: project_areaSloganMover 100s infinite linear;
}

@keyframes project_areaSloganMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .workRaceContent {
  margin: 0 auto;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .workRaceContent svg {
  width: 1200%;
  animation: workRaceMover 100s infinite linear;
}

@keyframes workRaceMover {
  0% {
    transform: translateX(-1920px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent {
  position: relative;
  width: 98%;
  height: auto;
  margin: 60px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeaea;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_area_content {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  background-color: #f2b43d;
  border-bottom-left-radius: 50%;
  box-shadow: 5px 5px 2px -1px #828282;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_area_content span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-style: dashed;
  border-radius: 50%;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_area_content span::before {
  content: "";
  width: 24px;
  border: 1px solid white;
  display: inline-block;
  position: absolute;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
  -moz-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  -o-transform: rotate(44deg);
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_area_content span::after {
  content: "";
  width: 24px;
  border: 1px solid white;
  display: inline-block;
  position: absolute;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transform: rotate(-44deg);
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_area_content span:hover::before {
  animation: project_area_contentBefore 1s ease-in-out;
}

@keyframes project_area_contentBefore {
  0% {
    transform: rotate(44deg) translate(300px);
  }
  100% {
    transform: translate(0px);
  }
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_area_content span:hover::after {
  animation: project_area_contentAfter 1s ease-in-out;
}

@keyframes project_area_contentAfter {
  0% {
    transform: rotate(44deg) translate(-300px);
  }
  100% {
    transform: translate(0px);
  }
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText {
  position: relative;
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  padding: 40px 0;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent {
  position: relative;
  grid-column: 1 / 2;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox {
  display: block;
  padding: 20px;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentLoog {
  width: 100px;
  height: 100px;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentLoog svg {
  width: 100%;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentTitle {
  position: relative;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentTitle h2 {
  text-align: left;
  font-size: 22px;
  padding: 100px 0;
  line-height: 1.3;
  position: relative;
  z-index: 3;
  color: #000;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentTitle h2::before {
  content: "";
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 80px;
  left: -266px;
  border-style: dashed;
  border: 1px solid #f2b43d;
  background-color: #f2b43d;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentDetailed p {
  font-size: 16px;
  text-align: left;
  line-height: 2;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon {
  padding: 100px 0;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul {
  display: flex;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li {
  width: 40px;
  height: 40px;
  border: 1px solid #f2b43d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 20px 0 0;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li:hover::before {
  width: 40px;
  height: 40px;
  opacity: 1;
  transform: scale(5, 5);
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
  opacity: 0;
  background-color: #ffffffb6;
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li a {
  display: inline-block;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTitleContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon ul li a img {
  width: 100%;
  height: 100%;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent {
  position: relative;
  grid-column: 2 / 3;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox {
  padding: 20px;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox ul {
  display: block;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox ul li {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText .project_areaContentTextContent .project_areaContentTextContentBox ul li img {
  width: 100%;
  height: 100%;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_Slogan {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  opacity: 0.6;
  pointer-events: none;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_Slogan .project_SloganContent {
  margin: 0 auto;
  width: 400%;
  height: 400%;
  position: absolute;
  animation: sloganContentMove 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes sloganContentMove {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_Slogan .project_SloganContent svg {
  width: 100%;
  height: 100%;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout #project_area .project_areaContent .project_Slogan img {
  width: 100%;
  height: 100%;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout .swipeUp {
  position: relative;
  padding: 40px 0;
}

.main .mainContent #works .works-content .jprt-container .jprt-item .layout .swipeUp a {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #000;
}

.main .mainContent #works .works-content .projectPortfolioContentArea {
  display: none;
}

@media screen and (max-width: 1100px) {
  .main .mainContent #works .works-content .container-fluid .jprt-buttons .jprt-btn {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .main .mainContent #works .works-content .container-fluid .jprt-container .jprt-item .layout #project_area .project_areaSlogan {
    top: 0;
  }
  .main .mainContent #works .works-content .container-fluid .jprt-container .jprt-item .layout #project_area .project_areaSlogan svg {
    width: 7000%;
  }
  .main .mainContent #works .works-content .container-fluid .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentText {
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .main .mainContent #works .works-content .container-fluid .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentTitleContent {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .main .mainContent #works .works-content .container-fluid .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentTitleContentBox .project_areaContentTitleContentIcon {
    padding: 100px 0;
  }
  .main .mainContent #works .works-content .container-fluid .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentTextContent {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: center;
  }
  .main .mainContent #works .works-content .container-fluid .jprt-container .jprt-item .layout #project_area .project_areaContent .project_areaContentTextContent .project_areaContentTextContentBox ul li {
    width: 100%;
  }
  .main .mainContent #works .works-content .container-fluid .jprt-container .jprt-item .layout #project_area .project_Slogan {
    opacity: 0;
  }
}

.footer {
  position: relative;
  top: -50px;
}

.footer .footerContent {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.footer .footerContent .footerContentBox {
  width: 100%;
}

.footer .footerContent .footerContentBox:nth-child(1) svg {
  width: 17%;
}

.footer .footerContent .footerContentBox:nth-child(2) {
  position: relative;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp {
  position: relative;
  padding: 40px 0;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp a {
  text-decoration: none;
  position: relative;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp a .footerContentBoxA {
  text-align: center;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp a .footerContentBoxA .footerContentBoxIcon {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #000;
}

.footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp a .footerContentBoxA p {
  color: #000;
  font-size: 12px;
  padding-top: 6px;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent {
  margin: 0 auto;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul {
  display: flex;
  justify-content: flex-end;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 0 0 20px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li:hover::before {
  width: 40px;
  height: 40px;
  opacity: 1;
  transform: scale(5, 5);
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
  opacity: 0;
  background-color: #ffffffb6;
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li a {
  display: inline-block;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li a img {
  width: 100%;
  height: 100%;
}

.footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent p {
  font-size: 12px;
  padding-top: 16px;
  text-align: right;
}

.footer .footerContent .footerContentBoxOne {
  grid-column: 1 / 2;
}

.footer .footerContent .footerContentBoxTwo {
  grid-column: 2 / 3;
}

.footer .footerContent .footerContentBoxThree {
  grid-column: 3 / 4;
}

@media screen and (max-width: 1100px) {
  .footer {
    top: -70px;
  }
  .footer .footerContent {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footerContent .footerContentBox:nth-child(1) {
    width: 0;
  }
  .footer .footerContent .footerContentBox:nth-child(1) svg {
    width: 0;
  }
  .footer .footerContent .footerContentBox:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .footerContent .footerContentBox:nth-child(2) .footerContentBoxSwipeUp {
    padding: 0;
  }
  .footer .footerContent .footerContentBox:nth-child(3) {
    width: 100%;
    padding-top: 40px;
  }
  .footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul {
    justify-content: center;
  }
  .footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent ul li {
    margin: 0 10px;
  }
  .footer .footerContent .footerContentBox:nth-child(3) .footerContentBoxIconContent p {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .main .mainContent #works .works-content .container-fluid .jprt-buttons .jprt-btn {
    width: 90%;
  }
  .main .mainContent #works .works-content .container-fluid .jprt-buttons .container-fluidImg {
    left: 0;
  }
}
